= form_for @team do |f|
  =error_messages_for(@team)

  .row
    .col-md-3
      .form-group
        .fa.fa-pencil.li
        = f.label :title
        = f.text_field :title, class: 'form-control'
  .actions
    = f.submit 'Сохранить', class: 'btn btn-primary'
