%h1 Редактирование команды

= render 'form'
%br
.btn-group
  = link_to @team, class: 'btn btn-warning' do
    =fa_icon "reply"
    #{@team.title}
  = link_to teams_path, class: 'btn btn-info' do
    =fa_icon "list"
    Все команды