%h1 Редактирование команды

= render 'form'
%br
.btn-group
  = link_to @team, class: 'btn btn-warning' do
    = inline_svg 'reply.svg', class: 'svg-picture-btn white'
    #{@team.title}
  /= link_to teams_path, class: 'btn btn-info' do
    /= inline_svg 'list.svg', class: 'svg-picture-btn white'
    /Все команды