league infos:

.div
  BLOCK1
  .div
    Сводная по турниру
    Всего матчей   380
    Сыграно матчей   120   31.6%
    Побед хозяев   54   45%
    Ничьих   27   22.5%
    Побед гостей   39   32.5%
    Забито голов   321
    Забито голов хозяевами   180   56.1%
    Забито голов гостями   141   43.9%
    Голов в среднем за игру   2.68
    Голов в среднем за игру (хозяева)   1.5
    Голов в среднем за игру (гости)   1.2
    Зрителей всего   2 281 085
    Зрителей в среднем за игру   21 520

.div
  BLOCK2
  .div
    Гражданство игроков
    Франция   346   (54.9%)
    Бразилия   35   (5.6%)
     