%h1 Новая база

= render 'form'

%br
= link_to @current_user_team, class: 'btn btn-info' do
  = inline_svg 'reply.svg', class: 'svg-picture white'
  Вернуться к команде << #{@current_user_team.title} >>
