.page-header
  %h1
    Турниры в стране "#{country.i18n_title}"
    = image_tag country.flag.url, title: country.i18n_title

= render 'tournaments_in_country', locals: { country: @current_user.country, leagues: @leagues, cups: @cups }
