.page-header
  %h1 Редактирование игрока

= render 'form'

%br
.btn-group
  = link_to @player, class: 'btn btn-warning' do
    =fa_icon "male"
    #{@player.name}
  = link_to players_path, class: 'btn btn-info' do
    =fa_icon "reply"
    Все игроки