.page-header
  %h1 Игроки
  -unless @current_user_team
    .small.text-danger Необходимо создать команду, чтобы приобретение игроков стало доступным
= render 'search_form'
%br
= render 'search_results'