-if @transfer.status == 1 || @transfer.status == 2
  %h1 Нельзя редактировать данное трансферное предложение
-else
  %h1 Редактирование трансферного предложения

  = render 'form'

  = link_to t('buttons.show'), @transfer

= link_to transfers_path, class: 'btn btn-info' do
  = inline_svg 'reply.svg', class: 'svg-picture-btn white'
  %span.centralize
    Все трансферы
