-if @transfer.status == 1 || @transfer.status == 2
  %h1 Нельзя редактировать данное трансферное предложение
-else
  %h1 Редактирование трансферного предложения

  = render 'form'

  = link_to 'Показать', @transfer

= link_to transfers_path, class: 'btn btn-info' do
  =fa_icon "reply"
  Все трансферы
