.field_with_errors {
  @extend .has-error !optional;
}

$body-bg: #fff;
$brand-primary: #2dcc70;

.alert-notice {
  @extend .alert-success !optional;
}

.centralize {
  vertical-align: middle !important;
  padding-bottom: 1px;
}

.btn-link.other-color-on-hover:hover {
  color: #2dcc70 !important;
}

.text-center {
  text-align: center;
}
