%nav.navbar.navbar-inverse
  .container
    .navbar-header
      =link_to ?#, class: "navbar-toggle collapsed", data: {toggle: "collapse", target: "#menu"} do
        =fa_icon 'bars'
      -if @current_user
        %div{class:'btn-group'}
          %button{id: "main_menu_btn", type: "button",class: "btn btn-link navbar-brand dropdown-toggle",data: {toggle: "dropdown"}}
            Меню
            %span{class:"caret"}
          %ul{class:'dropdown-menu'}
            .li=link_to 'Моя страница', @current_user,class: 'btn btn-link'#, class: 'navbar-brand'
            .li=link_to 'Моя команда', @current_user.team,class: 'btn btn-link'#, class: 'navbar-brand'
      -else
        %span.h3.navbar-text Футбольный менеджер StarTeam
    #menu.collapse.navbar-collapse
      -if @current_user
        %ul.nav.nav-pills
          -#было %ul.nav.navbar-nav
          %li.active=link_to "Все пользователи", users_path
          %li=link_to "Страны", countries_path
          %li=link_to "Спонсоры", sponsors_path
          %li=link_to "Стадионы", stadia_path
          %li=link_to "Базы клубов", club_bases_path
          %li=link_to "Игроки", players_path
          %li=link_to "Трансферы", transfers_path
          %li=link_to "Создать команду", new_team_path if !@current_user.team
          %li=link_to "Создать игрока", new_player_path if @current_user.moderator?
      %ul.nav.navbar-nav.navbar-right
        -if @current_user.blank?
          %li=link_to "Зарегистрироваться", new_user_path
          %li=link_to "Войти", login_path
        -else
          %li
            %span.navbar-text=@current_user.login
            %span.navbar-text=@current_user.mail
            -t=@current_user.team
            -if t
              %span.navbar-text=t.title
              %span.navbar-text="Бюджет: #{number_to_currency(t.budget, precision: 3, locale: :en)}"
            =link_to "Выйти", logout_path, data: {method: :patch}